:root {
  --bg-clr: hsl(257, 40%, 49%);
  --active-clr: hsl(300, 69%, 71%);
  --font-clr: hsl(0, 0%, 100%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-clr);
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 90vw;
}

.header {
  margin-top: 60px;
  margin-bottom: 6%;
}

.header_logo {
  width: 15%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.5px;
}

.main_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_image > img {
  width: 100%;
}

.main_text {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--font-clr);
  margin-top: 3%;
  padding-left: 60px;
}

.main_text .main_text_heading {
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}

.main_text .main_text_paragraph {
  width: 90%;
  font-size: 25px;
  line-height: 1.5;
  padding-right: 200px;
  margin-bottom: 50px;
}

.main_text .main_text_cta {
  font-size: 25px;
  color: var(--bg-clr);
  background-color: var(--font-clr);
  border-radius: 50px;
  padding: 20px 100px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.main_text .main_text_cta:active {
  background-color: var(--active-clr);
  color: var(--font-clr);
}

.social {
  /* maybe wrap these icons in divs and figure out a way to center them */
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  font-size: 30px;
  background-color: var(--bg-clr);
  border: 1px solid var(--font-clr);
  border-radius: 50%;
  margin: 40px 16px 0 16px;
  cursor: pointer;
}

.social i {
  color: var(--font-clr);
}

.social .social_container:active,
.social i:active {
  border-color: var(--active-clr);
  color: var(--active-clr);
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .container {
    width: 100vw;
  }
  .header {
    margin-top: 30px;
    margin-bottom: 48px;
  }
  .header_logo {
    width: 45%;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_image {
    width: 100%;
    margin-bottom: 30px;
  }
  .main_image > img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main_text {
    margin-top: 4px;
    width: 100%;
    padding: 3px;
  }
  .main_text .main_text_heading {
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
  }
  .main_text .main_text_paragraph {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .main_text .main_text_cta {
    font-size: 13px;
    display: block;
    padding: 13px 70px;
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social .social_container {
    height: 40px;
    width: 40px;
    font-size: 15px;
    margin: 50px 10px 100px 10px;
  }
}
/*# sourceMappingURL=style.css.map */