@include bp-mobile {
	body {
		background-image: url(/images/bg-mobile.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.container {
		width: 100vw;
	}

	.header {
		margin-top: 30px;
		margin-bottom: 48px;

		&_logo {
			width: 45%;
		}
	}

	.main {
		flex-direction: column;

		&_image {
			width: 100%;
			margin-bottom: 30px;
		}

		&_image > img {
			display: block;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.main_text {
		margin-top: 4px;
		width: 100%;
		padding: 3px;

		.main_text_heading {
			font-size: 25px;
			text-align: center;
			margin-bottom: 3px;
		}

		.main_text_paragraph {
			width: 100%;
			font-size: 16px;
			text-align: center;
			padding: 0 20px;
			margin-bottom: 25px;
		}

		.main_text_cta {
			font-size: 13px;
			display: block;
			padding: 13px 70px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.social {
		width: 100%;
		display: flex;
		justify-content: center;

		.social_container {
			height: 40px;
			width: 40px;
			font-size: 15px;
			margin: 50px 10px 100px 10px;
		}
	}
}
